.IconButton {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 26px;
  border-radius: 40px;
  border: 1px solid transparent;
  font-weight: inherit;
  padding: 10px 40px;
  margin-top: 30px;
  background-color: #1d2334;
  min-width: 100px;
  transition: all 0.3s ease;
}

.IconButton:hover {
  cursor: pointer;
  color: #1d2334;
  background-color: rgba(29, 35, 52, 0.2);
  border-color: currentColor;
  box-shadow: 0px 0px 35px -4px rgba(29, 35, 52, 0.42);
}
